<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">

      <h3>VERIFICATION DETAILS</h3>

  <form #userForm="ngForm" (ngSubmit)='onSubmit(userForm.value)'>

    <div class="form-group">

      <label>Verification Id: </label>

      <input required minlength="1" type="number" #empIdRef='ngModel' name="verId" ngModel class="form-control">

      <div *ngIf='empIdRef.errors && empIdRef.touched' class="alert alert-danger">

          <div [hidden]='!empIdRef.errors.required'> Provide Verification Id </div>

      </div>
  </div>


      <div class="form-group">

          <label>EmployeeId: </label>

          <input required minlength="1" type="number" #empIdRef='ngModel' name="logindata.userId" [(ngModel)]="userid" ngModel class="form-control">

          <div *ngIf='empIdRef.errors && empIdRef.touched' class="alert alert-danger">

              <div [hidden]='!empIdRef.errors.required'> Provide Employee Id </div>

          </div>
      </div>

 

      <div class="form-group">

          <label>Status: </label>

          <input required minlength="4" type="text" #empNameRef='ngModel' name="status" ngModel class="form-control">

          <div *ngIf='empNameRef.errors
                      && empNameRef.touched' class="alert alert-danger">

              <div [hidden]='!empNameRef.errors.required'>

                  Provide Status

              </div>
          </div>

      </div>



      <input [disabled]="userForm.invalid" type="submit" value="Submit" class="btn btn-primary">

  </form>

</div>

     
<div align="right"> <input type="submit"  routerLink='/app-bgv' value="Back" class="btn btn-success">
</div>
